<div class="row">
    <div class="col-md-3 sidebar">
        <ng-include src="'partials/activityList.html'"></ng-include>
    </div>

    <div class="col-md-3 day">
        <div class="row dayHeader">
            <div class="col-md-9 dayInfo">
                Start time: <br/>
                End time: <br/>
                Total length: min<br/>
            </div>
            <div class="col-md-3 timeAllocatedBox">
                <div class="row breakLine">
                </div>
            </div>
        </div>
        <div>
            <div class="row schedule">

            </div>
        </div>
    </div>
    <div class="col-md-3 addDay">
        <a href="#/overview" class="btn addDayBtn">+ Add a day</a>
    </div>
</div>