<div class="col-md-3 addActivity">
	<div class="innerAddActivity"> 
		<div class="row">
				<form name="activity">
				Activity name: <br/>
				<input type="text" ng-model="activity.name"> <br/>
				Activity length:<br>
				<input type="number" ng-model="activity.length"> min <br/>
				<select ng-model="activity.type">
					<option value="0">Presentation</option>
					<option value="1">Group work</option>
					<option value="2">Discussion</option>
					<option value="3">Break</option>
				</select> <br/>
				Activity description: <br/>
				<textarea ng-model="activity.description" cols="50" rows="10"></textarea>
			</form>
		</div>
		<div class="row buttons">
			<a href="#/overview" ng-click="cancel()" class="btn cancelBtn">Cancel</a>
			<a href="#/overview" ng-click="submit()" class="btn saveBtn">OK</a>
		</div>
	</div>
</div>