<div class="row">
    <div class="col-md-3 sidebar">
        <ng-include src="'partials/activityList.html'" ></ng-include>
    </div>

    <div id="newDays">
        <div class="col-md-3 day">
            <div class="row dayHeader">
                <div class="col-md-9 dayInfo">
                    <p>Start time: <input type="text" name="startTime" value="08:00"></p>
                    <p>End time: {{this.getDays()[0].getEnd()}} </p>
                    <p>Total length: {{this.getDays()[0].getTotalLength()}} min</p> 
                </div>
                <div class="col-md-3 timeAllocatedBox"></div>
            </div>
            <div>
                <div class="row schedule">
                    <a ng-repeat="activity in days[0].getActivities()" {{this.days}} >
                    <div class="row breakLine">
                        <p class="schedule-text"> {{this.activity.getLength()}} min {{this.activity.getName()}} </p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 addDay">
        <a href="#/overview" data-ng-click='addDay()' class="btn addDayBtn">+ Add a day</a>
    </div>
</div>