<div class="containerAgenda">
    <div class="row">
        <div class="col-md-12">
            <div class="sidebar">
                <ng-include src="'partials/activityList.html'" ></ng-include>
            </div>

            <div id="days2" class="days2">
                <div class="day">
                    <div class="dayHeader">
                        <div class="dayInfo">
                            <p>Start time: <input type="text" name="startTime" value="08:00" style="width: 50px;"></p>
                            <p>End time: {{this.getDays()[0].getEnd()}}</p>
                            <p>Total length: {{this.getDays()[0].getTotalLength()}} min</p>
                        </div>
                        <div class="timeAllocatedBox"></div>
                    </div>
                    <div class="daySchedule">
                        <a ng-repeat="activity in days[0].getActivities()" {{this.days}}>
                        <div class="breakLine">
                            <p class="schedule-text"> {{this.activity.getLength()}} min {{this.activity.getName()}} </p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="addDay">
                <a href="#/overview" data-ng-click='addDay()' class="btn addDayBtn">+ Add a day</a>
            </div>
        </div>
    </div>
</div>